.mainImg {
    width: 100%;         /* Adjust the width as needed */
    height: 300px;       /* Adjust the height as needed */
    background-image: url('../img/background.jpg');
    background-size: cover; /* Scale the image to cover the entire element */
    background-position: 50% 60%;; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling of the image */
    margin: 0 auto;
}
.mainImgText{
    align-self: center;
}

.mainImgText h3{
    font-family: 'Pretendard-Regular', sans-serif;
    letter-spacing: -2%;
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0.5em;
    color: #FFFFFF;
}
.mainImgText p{
    font-family: 'Pretendard-Regular', sans-serif;
    letter-spacing: -2%;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em;
    color: #DD0000;
    line-height: 0.5em;
    font-weight: 600;
    background-color: #F8F8F8;
}